<app-header></app-header>

<div class="container text-center my-5">
    <div [formGroup]="barraBusqueda" class="d-flex flex-column align-items-center gap-3 w-100">



        <div class="d-flex justify-content-center gap-2 w-100" style="max-width: 600px;">
            <select id="eventType" #comboDestino name="eventType" class="form-select"
                (change)="buscarPorDestino(comboDestino.value)">
                @for (d of destinos(); track d.id) {
                <option [value]="d.id">
                    {{ d.nombre }}
                </option>
                }
            </select>
            <button class="btn btn-outline-primary" style="white-space: nowrap;"
                (click)="buscarPorDestino(comboDestino.value)">
                Por destino
            </button>
        </div>


        <div class="d-flex justify-content-center">
            <a routerLink="/paquetes/form-page" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Nuevo paquete
            </a>
        </div>


        @if (hayError) {
        <div class="alert alert-danger alert-dismissible fade show w-100" role="alert" style="max-width: 600px;">
            <strong>Error! </strong> {{mensajeError}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        }
    </div>
</div>


<div class="row row-cols-1 row-cols-md-4 g-4">
    @for (paquete of paquetes(); track paquete.id) {
    <app-paquete-card [paquete]="paquete"></app-paquete-card>
    }
</div>