<app-header></app-header>
<div class="container text-center my-5">

    <div class="d-flex flex-column align-items-center gap-3 w-100">

        <div [formGroup]="barraBusqueda" class="d-flex justify-content-center gap-2 w-100">
            <input class="form-control flex-grow-1" type="search-primary" placeholder="Search"
                formControlName="busqueda">

            <button class="btn btn-primary" (click)="buscarDestino()">
                Search
            </button>
        </div>

        <div class="d-flex justify-content-center gap-2">
            <a routerLink="/destinos/form-page" class="btn btn-primary">
                <i class="bi bi-file-earmark-plus"></i> Nuevo destino
            </a>
            <button type="button" class="btn btn-secondary" (click)="buscarTodos()">
                Todos los destinos
            </button>
        </div>


        @if (hayError) {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error! </strong> {{mensajeError}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        }




    </div>
</div>


@if(buscandoTodos()){
<div class="row row-cols-1 row-cols-md-3 g-4">
    @for (destino of destinos(); track destino.id) {
    <app-destino-card [destino]="destino" (destinoFueSeleccionado)="guardarDestinoSeleccionado($event)"></app-destino-card>
    }
</div>
}



@if(buscandoUno()){
<div class="row row-cols-1 row-cols-md-3 g-4">
    <app-destino-card [destino]="destinoEncontrado" (destinoFueSeleccionado)="guardarDestinoSeleccionado($event)"></app-destino-card>
</div>
}

<app-modal-generico [mensaje]="mensajeEleiminacion" (confirmationExecuter)="eliminarRegistro()" />