<form [formGroup]="formulario" (submit)="enviar()">
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-10 col-lg-7">


                    @if (hayError()) {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Error!</strong> {{mensajeError}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    }

                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5">
                            @if(enEdicion){
                            <h3 class="mb-5 text-center">{{mensajeEdicion}}</h3>
                            }@else {
                            <h3 class="mb-5 text-center">{{mensajeCreacion}}</h3>
                            }

                            <div class="row mb-4">
                                <div class="col-md-6 mb-4 mb-md-0">
                                    <label for="limit" class="form-label">Url Imagen:</label>
                                    <input type="text" class="form-control" id="limit" name="limit"
                                        formControlName="urlImagen"
                                        [class.is-invalid]="formulario.controls['urlImagen'].invalid && intentoEnviarlo()"
                                        (input)="actualizarUrlImagen($event)">
                                    <div class="invalid-feedback">
                                        <div>
                                            URL MAX(500)
                                        </div>
                                    </div>
                                </div>
                                @if(hayLinkImagen() && this.urlImagen){
                                <div class="col-md-6">
                                    <img [src]="urlImagen" alt="..." class="img-thumbnail avatar">
                                </div>
                                }

                            </div>

                            <div class="col-md-6 mb-4 mb-md-0">

                            </div>

                            <div class="row mb-4">
                                <div class="col-md-6 mb-4 mb-md-0">

                                    <label class="form-label">Nombre: </label>
                                    <input type="text" class="form-control" id="limit" name="limit"
                                        formControlName="nombre"
                                        [class.is-invalid]="formulario.controls['nombre'].invalid && intentoEnviarlo()">
                                    <div class="invalid-feedback">
                                        <div>
                                            Nombre (Max 30)
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <label for="eventType" class="form-label">Pais de operacion:</label>
                                    <select id="eventType" name="eventType" class="form-control"
                                        formControlName="id_pais"
                                        [class.is-invalid]="formulario.controls['id_pais'].invalid && intentoEnviarlo()">
                                        @for (p of paises(); track p.id) {
                                        <option [value]="p.id">
                                            {{ p.nombre }}
                                        </option>
                                        }
                                    </select>
                                    <div class="invalid-feedback">
                                        <div>
                                            Pais de operacion
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Descripcion</label>
                                <textarea formControlName="descripcion" class="form-control"
                                    id="exampleFormControlTextarea1" rows="3"
                                    [class.is-invalid]="formulario.controls['descripcion'].invalid && intentoEnviarlo()"></textarea>
                                <div class="invalid-feedback">
                                    <div>
                                        Descripcion MAX(300)
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Mejor epoca</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1"
                                    formControlName="mejorEpoca" rows="3"
                                    [class.is-invalid]="formulario.controls['mejorEpoca'].invalid && intentoEnviarlo()"></textarea>
                                <div class="invalid-feedback">
                                    <div>
                                        Mejor epoca MAX(100)
                                    </div>
                                </div>
                            </div>

                            <div class="mt-4">
                                <button class="btn btn-primary w-100 py-3" type="submit">Guardar</button>
                            </div>

                            <div class="mt-4">
                                <button type="button" routerLink="/destinos"
                                    class="btn btn-secondary py-3 w-100">Regresar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>